:root {
  min-width: 992px;
  max-width: 1400px;

  --primary-color: #fff;
}

.root {
  min-width: 992px;
  max-width: 1400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  margin: 0px;
  letter-spacing: 2px;
  font-size: 20px;
  background-image: linear-gradient(to top, #1de0e0 0%, #540bacd7 100%);
}

body,
a,
.badge,
.modal-highlighted-txt {
  color: var(--primary-color);
}

.header,
h1,
.nav-bar,
.center-display,
.card-container,
.card-container,
.modal-overlay,
.modal-img-div {
  justify-content: center;
}

.header,
h1,
.nav-bar,
.center-display,
ul,
.card,
.modal-overlay,
.modal-img-div,
.astroSignPage,
.disclaimer-page,
.astroSignPage-main-content,
.astroSignPage-txt-container,
.contact-details-div,
.disclaimer-container,
footer {
  display: flex;
}

.header {
  flex-direction: column;
}

h1 {
  margin-bottom: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
}

a {
  text-decoration: none;
}

.nav-bar {
  gap: 5%;
  height: 60px;
}

.nav-bar,
.main-content,
.card,
.modal-overlay,
.astroSignPage,
.disclaimer-page,
footer {
  align-items: center;
}

.nav-bar,
.badge,
.name-txt,
.contact-details-div h2,
footer,
.cgv-main-title,
.cgu-secondary-title {
  background-color: #8B008B;
}

.nav-bar,
.card:hover,
.disclaimerDiv,
.disclaimer-page-recap {
  box-shadow: 0px 0px 25px 5px var(--primary-color);
}

.menu-option .contact-link {
  padding: 5px;
  border: 4px dotted yellow;
  background-color: rgba(98, 1, 95, 0.8);
}

a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.menu-option .contact-link:hover {
  background-color: #b800b8;
  text-decoration: none;
}

main {
  margin: 70px 100px 100px;
}

.center-display {
  gap: 50px;
}

.main-content {
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.presentation-picture {
  object-fit: cover;
  height: fit-content;
  position: relative;
}

.presentation-txt {
  flex-direction: column;
  margin-left: 50px;
}

h2 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 20px;
}

.prestation-details-div,
.disclaimer-page-recap,
.CG-page,
.contact-details-div {
  border: 2px solid var(--primary-color);
}

.prestation-details-div,
.duration-text,
.cgu-main-title,
.cgv-secondary-title {
  background-color: #00008B;
}

.prestation-details-div {
  padding: 10px 0px;
}

.prestation-page-ul {
 gap: 0px;
}

.prestation-details-div li:nth-of-type(2) {
  list-style: none;
  margin-bottom: 30px;
}

.styled-p {
  text-transform: uppercase;
  margin-bottom: 30px;
}

ul {
  flex-direction: column;
  gap: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  margin: 80px 0px;
  gap: 30px;
}

.card-container,
.modal-content,
.contact-page-main-section {
  justify-items: center;
}

.card {
  background-color: var(--primary-color);
  padding: 0px 5px;
  padding-top: 30px;
  max-width: 300px;
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0px 0px 55px 5px black;
  justify-content: flex-end;
}

.card,
.card img,
.modal-overlay,
.modal-content,
.modal-highlighted-txt,
.disclaimer-page,
.CG-page h2 {
  width: 100%;
}

.card,
.modal-content {
  color: #00008B;
}

.card,
.badge,
.modal-highlighted-txt,
.contact-page-main-section,
.CG-page h2 {
  text-align: center;
}

.badge {
  padding: 4px 8px;
  width: 104%;
  position: relative;
  bottom: 5px;
}

h3 {
  font-size: 19px;
}

.card img {
  height: 100px;
  border-bottom: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: var(--primary-color);
  padding: 20px;
  max-width: 400px;
}

.modal-content p,
h4 {
  padding: 0px 30px;
}

.name-txt {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
}

.close-button {
  position: relative;
  top: 0px;
  left: 165px;
  font-weight: 900;
  background: none;
  border: none;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: black;
}

.modal-img-div {
  top: 10px;
  position: relative;
}

.modal-img {
  width: 70%;
  margin-bottom: 20px;
}

.astroSignPage,
.disclaimer-page {
  flex-direction: column;
  width: 80%;
}

.astroSignPage-main-content {
  gap: 50px;
  align-items: flex-start;
}

.astroSignPage-txt-container {
  flex-direction: column;
  gap: 10px;
}

.astroSignPage-txt-container p {
  margin: 0px 0px 15px;
}

.astroSignPage-txt-container .no-margin {
  margin: 0px;
}

.astroSignPage-txt-container .upperCaseTxt {
  text-transform: uppercase;
  display: inline;
}

.astroSign-img {
  width: 300px;
  border: 5px dotted yellow;
  height: auto;
}

.contact-details-div {
  flex-direction: column;
  box-shadow: 0px 5px 30px 10px var(--primary-color);
  width: 50%;
  line-height: 30px;
  justify-content: space-between;
}

.contact-details-div h2 {
  font-weight: normal;
  padding: 15px 0px;
  border-bottom: solid 2px var(--primary-color);
}

.contact-details-div p {
  margin: 15px 0px;
  padding: 0px 20px;
}

.contact-details-div p:first-of-type {
  margin-bottom: 0px;
}

.contact-details-div p:nth-of-type(2) {
  margin-top: 0px;
}

.disclaimer-page h2 {
  padding: 5px 20px;
}

.disclaimer-container {
  gap: 2%;
}

.disclaimerDiv {
  max-width: 24%;
  height: fit-content;
  margin: 10px;
  border: 2px solid rgb(47, 255, 71);
}

.disclaimerConDiv {
  border: 2px solid rgb(255, 139, 158);
}

.disclaimerDiv p {
  margin: 10px 20px;
}

.disclaimer-page-recap {
  background-color: #1de0e065;
  padding: 0px 3%;
}

.disclaimer-page-recap p {
  margin-bottom: 30px;
}

.disclaimer-page-recap p,
.styled-p,
.CG-page,
.cg-section h3 {
  justify-self: center;
}

footer {
  height: 60px;
  justify-content: space-evenly;
}

footer img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 0px 10px rgba(98, 1, 95, 0.8));
}

footer img:hover {
  filter: drop-shadow(0px 0px 10px var(--primary-color));
}

.CG-page h2 {
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.cg-section {
  padding: 0px 30px;
}

.cg-section h3 {
  width: fit-content;
  padding: 5px;
  margin-top: 70px;
  margin-bottom: 25px;
}